<button mat-button [matMenuTriggerFor]="allRegions">France</button>

<mat-menu #allRegions="matMenu">
  <button mat-menu-item *ngFor="let region of regions" [matMenuTriggerFor]="theDepartements"
    (mouseover)="loadDepartments(region.name)"
    >
    {{region.name}}
  </button>
</mat-menu>

<mat-menu #theDepartements="matMenu">
  <button mat-menu-item *ngFor="let dep of departements" [matMenuTriggerFor]="allCommunes"
    (mouseover)="loadCommunes(dep.name)"
    >
    {{ dep.name }}
  </button>
</mat-menu>

<mat-menu #allCommunes="matMenu">
  <button mat-menu-item *ngFor="let commune of communes"
  >
    {{ commune.name }}
  </button>
</mat-menu>